<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hanhuy.android.a2dp.volume" android:versionCode="1"
    android:versionName="0.1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".A2DPVolumeSettings" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".BluetoothBroadcastReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.bluetooth.a2dp.action.SINK_STATE_CHANGED" />
                <!-- pre-2.0 intent name -->
                <action android:name="android.bluetooth.a2dp.intent.action.SINK_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".UserPresentBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
    </application>
    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="5" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
</manifest>
